<!DOCTYPE html>
<html lang="en">
<head>

    <title> {% block title %}Local Library{% endblock %} </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 ">
                {% block content %}{% endblock %}
            </div>

            <div class="col-sm-4">
                {% include "login_form.html" %}
            </div>
        </div>


        {# DEBUG #}
        <div class="row" id="div_console">div_console</div>

        <!--
        <div class="row" id="test_form">
            {{new_login_form}}
        </div>
        -->

    </div>
</body>

<script src="{% static 'main_app.js' %}"></script>

</html>